<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newmessage">Add Entry</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/ajaxmessage">Add Entry (Ajax)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/guestbook">View Guestbook</a>
    </li>
</ul>