<div id="result-table">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Username</th>
                <th>Country</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <% messages.forEach(element => { %>
            <tr>
                <td><%= element.username %></td>
                <td><%= element.country %></td>
                <td><%= element.message %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>